{% extends 'home.html' %}

{% block form %}
<form action="/successfully" method="post">
    <header>
        <h2>Transmita su Queja</h2>
    </header>
    <section>
        <fieldset>
            <label>Introduzca su queja:
                <input type="text" name="queja" id="queja" placeholder="queja" required/>
            </label>
            <br/>
            <label>En caso de no encontrarse registrade, <a href="/register">Regístrese Aquí</a> o introduzca un nombre de usuario personalizado:
                <input type="text" name="queja" id="usuario-queja" placeholder="usuario-queja"/>
            </label>
        </fieldset>
    </section>
    <footer>
        <button type="submit">Envíe su queja</button>
        <button type="reset">Borre el contenido de su queja</button>
    </footer>
</form>
{% endblock %}

{% block register_form %}
    <form action="/register" method="post">
        <main>
            <button type="submit">Regístrese Aquí</button>
        </main>
    </form>
{% endblock %}

{% block signup_form %}
    <form action="/signup" method="post">
        <main>
            <button type="submit">Iniciar Sesión</button>
        </main>
    </form>
{% endblock %}

{% block opinions %}
    <h2>Las bellas opiniones de Nuestra Comunidad</h2>
    {% for queja in quejas %}
            <p>{{queja.descripción_queja}}</p>
            {{queja.fecha_queja}} -- {{queja.username}}
    {% endfor %}
{% endblock %}

{% if mensaje_flash %}
<div style="border: 1px solid red">
  {{ mensaje_flash }}
</div>
{% endif %}