{% extends 'home_signed.html' %}

{% block form %}
<form action="/successfully" method="post">
    <header>
        <h2>Transmita su Queja</h2>
    </header>
    <section>
        <fieldset>
            <label>Introduzca su queja:
                <input type="text" name="queja" id="queja" placeholder="queja" required/>
            </label>
            <br/>
            <label>En caso de no encontrarse registrade, <a href="/register">Regístrese Aquí</a> o introduzca un nombre de usuario personalizado:
                <input type="text" name="queja" id="usuario-queja" placeholder="usuario-queja"/>
            </label>
        </fieldset>
    </section>
    <footer>
        <button type="submit">Envíe su queja</button>
        <button type="reset">Borre el contenido de su queja</button>
    </footer>
</form>
{% endblock %}

{% block register_form %}
    <form action="/signed" method="post">
        <main>
            <h3>{{username}}, usted ya se registró, pulse este botón para ir a su cuenta.</h3>
            <button type="submit">Mi Cuenta</button>
        </main>
    </form>
{% endblock %}

{% block signup_form %}
    <form action="/signed" method="post">
        <main>
            <h3> {{username}}, usted ya inició sesión, pulse este botón para ir a su cuenta.</h3>
            <button type="submit">Mi Cuenta</button>
        </main>
    </form>
{% endblock %}

{% block opinions %}
    <h2>Las bellas opiniones de Nuestra Comunidad</h2>
    {% for descripción_queja in quejas %}
        <p>{{descripción_queja.body}}</p>
        {{queja.fecha_queja}} -- {{queja.users.username}}
    {% endfor %}
{% endblock %}