<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>
        <title>Página de Quejas</title>
    </head>
    <body>
        <main>
            <header>
                <h1>Página de Quejas.</h1>
            </header>
            <br/>
            {% block register_form %}
            {% endblock %}
            <br/>
            {% block return %}
            {% endblock %}
        </main>
    </body>
</html>