{% extends "register.html" %}

{% block register_form %}
    <form action="/register/registered" method="post">
        <header>
            <h2>Regístrese Aquí</h2>
        </header>
        <section>
            <header>
                <h3>Datos Generales de les Usuaries</h3>
            </header>
            <article>
                <fieldset>
                    <placeholder>Datos de Usuario</placeholder>
                    <label> Introduzca el usuario:
                        <input type="text" name="username"/>
                    </label>
                    <br/>
                    <br/>
                    <label> Introduzca el email:
                        <input type="text" name="email"/>
                    </label>
                    <br/>
                    <br/>
                    <label> Introduzca la contraseña:
                        <input type="password" name="passwd"/>
                    </label>
                </fieldset>
            </article>
        </section>
        <section>
            <header>
                <h3>Datos Personales de les Usuaries</h3>
            </header>
            <article>
                <fieldset>
                    <placeholder>Datos Personales</placeholder>
                    <label> Introduzca su nombre:
                        <input type="text" name="name"/>
                    </label>
                    <br/>
                    <br/>
                    <label> Introduzca su primer apellido:
                        <input type="text" name="lastname_1"/>
                    </label>
                    <label> Introduzca su segundo apellido:
                        <input type="text" name="lastname_2"/>
                    </label>
                    <br/>
                    <br/>
                    <label> Teléfono:
                        <input type="text" name="phone"/>
                    </label>
                    <br/>
                    <br/>
                    <label> Género:
                        <input type="text" name="gender"/>
                    </label>
                </fieldset>
            </article>
        </section>
        <footer>
            <button>Registrar Usuario</button>
        </footer>
    </form>
{% endblock %}

{% block return %}
    <form action="/" method="post">
        <main>
            <h2>Para regresar a la Página Principal</h2>
            <button type="submit">Volver a la página principal</button>
        </main>
    </form>
{% endblock %}