{% extends "signed.html" %}

{% block signed %}
    <section>
        <header>
            <h2>Mi Cuenta</h2>
            <br/>
            <h3>Bienvenide a su cuenta, {{username}}.</h3>
        </header>
        <article>
            <p>Ha iniciado sesión correctamente.</p>
        </article>
    </section>
{% endblock %}

{% block return %}
    <form action="/home" method="post">
        <main>
            <h2>Para regresar a la Página Principal</h2>
            <button type="submit">Volver a la página principal</button>
        </main>
    </form>
{% endblock %}