{% extends "signup.html" %}

{% block signup_form %}
    <form action="/signup/sign" method="post">
    <input name="csrf_token" type="hidden" value="{{csrf_token}}"/>
        <header>
            <h2>Iniciar Sesión</h2>
        </header>
        <section>
            <header>
                <h3>Datos de Inicio de Sesión</h3>
            </header>
            <article>
                <label> Nombre de usuario:
                    <input type="text" name="username"/>
                </label>
            </article>
            <article>
                <label> Contraseña:
                    <input type="password" name="passwd"/>
                </label>
            </article>
        </section>
        <footer>
            <button>Iniciar Sesión</button>
        </footer>
    </form>
{% endblock %}

{% block return %}
    <form action="/" method="post">
        <main>
            <h2>Para regresar a la Página Principal</h2>
            <button type="submit">Volver a la página principal</button>
        </main>
    </form>
{% endblock %}