{% extends 'successfully_signed.html' %}

{% block form %}
<form action="/home" method="post">
    <header>
        <h2>Transmita su Queja</h2>
    </header>
    <section>
        <fieldset>
            <h3>QUEJA ENVIADA CORRECTAMENTE</h3>
        </fieldset>
    </section>
    <footer>
        <p>Ya envió su queja, para enviar otra, pulse este botón</p>
        <button type="submit">Volver</button>
    </footer>
</form>
{% endblock %}

{% block register_form %}
    <form action="/signed" method="post">
        <main>
            <h3>{{username}}, usted ya se registró, pulse este botón para ir a su cuenta.</h3>
            <button type="submit">Mi Cuenta</button>
        </main>
    </form>
{% endblock %}

{% block signup_form %}
    <form action="/signed" method="post">
        <main>
            <h3> {{username}}, usted ya inició sesión, pulse este botón para ir a su cuenta.</h3>
            <button type="submit">Mi Cuenta</button>
        </main>
    </form>
{% endblock %}

{% block opinions %}
    <h2>Las bellas opiniones de Nuestra Comunidad</h2>
    {% for descripción_queja in quejas %}
        <p>{{descripción_queja.body}}</p>
        {{queja.fecha_queja}} -- {{queja.users.username}}
    {% endfor %}
{% endblock %}