{% extends 'successfully.html' %}

{% block form %}
<form action="/" method="post">
    <header>
        <h2>Transmita su Queja</h2>
    </header>
    <section>
        <fieldset>
            <h3>QUEJA ENVIADA CORRECTAMENTE</h3>
        </fieldset>
    </section>
    <footer>
        <p>Ya envió su queja, para enviar otra, pulse este botón</p>
        <button type="submit">Volver</button>
    </footer>
</form>
{% endblock %}

{% block register_form %}
    <form action="/register" method="post">
        <main>
            <button type="submit">Regístrese Aquí</button>
        </main>
    </form>
{% endblock %}

{% block signup_form %}
    <form action="/signup" method="post">
        <main>
            <button type="submit">Iniciar Sesión</button>
        </main>
    </form>
{% endblock %}

{% block opinions %}
    <h2>Las bellas opiniones de Nuestra Comunidad</h2>
    {% for queja in quejas %}
            <p>{{queja.descripción_queja}}</p>
            {{queja.fecha_queja}} -- {{queja.username}}
    {% endfor %}
{% endblock %}

{% if mensaje_flash %}
<div style="border: 1px solid red">
  {{ mensaje_flash }}
</div>
{% endif %}